__pycache__/
*.py[codz]
*$py.class
*.so
*.sql
.Python
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
MANIFEST
*.manifest
pip-log.txt
pip-delete-this-directory.txt
.cache
.pytest_cache/
.pybuilder/
*.spec
__pypackages__/
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/